In [21]:
import pandas as pd
import json
from sklearn.utils import resample

In [16]:
# df = pd.read_json('../Sports_and_Outdoors.json')
# df.head()
data = []
with open("../Sports_and_Outdoors.json", "r") as f:
    while True:
        line = f.readline()
        if not line: break
        
        parsed = json.loads(line)
        if "reviewText" in parsed and "overall" in parsed: 
            data.append([parsed["reviewText"], parsed["overall"]])

In [23]:
columns = ['reviewText', 'overall']
df = pd.DataFrame(data, columns=columns)
df.head()

                                          reviewText  overall
0  It was as described and fit my 6 year old gran...      5.0
1  very cute and went great with my Halloween cos...      4.0
2  This item is very cheaply made and not full li...      1.0
3                                               cute      5.0
4  Not as full as the picture suggests and it sme...      1.0

In [24]:
df.loc[df['overall'] <= 2., 'label'] = 0 
df.loc[df['overall'] == 3., 'label'] = 1
df.loc[df['overall'] >= 4., 'label'] = 2
df.drop(["overall"], axis=1)
df['label'].value_counts()

2.0    10390222
0.0     1613150
1.0      967989
Name: label, dtype: int64

In [25]:
df_pos = df[df.label==2]
df_neut = df[df.label==1]
df_neg = df[df.label==0]
n_sample = 333334

# Downsample majority class
df_pos_downsampled = resample(df_pos, replace=False, n_samples=n_sample, random_state=42)
df_neut_downsampled = resample(df_neut, replace=False, n_samples=n_sample, random_state=42)
df_neg_downsampled = resample(df_neg, replace=False, n_samples=n_sample, random_state=42)
 
# Combine minority class with downsampled majority class
df = pd.concat([df_pos_downsampled, df_neut_downsampled, df_neg_downsampled])
df['label'].value_counts()

1.0    333334
0.0    333334
2.0    333334
Name: label, dtype: int64

In [27]:
df.to_csv("../Sports-and-outdoors.csv", index=False)